// THE LAVENDER CLOSET
// fonts

@font-face {
    font-family: "GeometrySoft";
    src: url("fonts/Geometry_Soft_Pro-Bold_N.otf");
    font-weight: normal;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("fonts/SourceCodePro-Bold.otf");
    font-weight: normal;
}