// THE LAVENDER CLOSET
// main

@import "fonts.scss";

$sansserif: -apple-system, BlinkMacSystemFont, "Nimbus Sans", "Liberation Sans", "Segoe UI", Helvetica, Arial, sans-serif;

::-moz-selection, ::selection {
  background: darken(lavender, 20%);
  color: white;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $sansserif;
    background: url("images/diagonal-background.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: GeometrySoft, "Comic Neue", "Comic Sans", "Comic Sans MS", sans-serif;
}

ul, ol {
    padding-left: 1em;
}

.quiet {
    color: rgba($color: #000, $alpha: 0.3);
    font-size: 60%;
    &::-moz-selection, &::selection {
      background: #000;
    }
}

header {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url("images/header.jpg"), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAIAAAD38zoCAAAAiElEQVQI1wF9AIL/AbKsrfgAC/kBEwEAAfL0+Pf49wcFBA8KCAISEw8IAwMTDQLv+Pnv+v0REA0bEQUACAkE8Ozo4uLjEx8w+eDa9/fy8RUP/AoOGxcXAx0WG8O1pOvk1fsH3+Te19vrxP/50vLk7AQJ/OsOCfrb2tUN8v8eFh327PXhAvnu+NZtCj900D8C2AAAAABJRU5ErkJggg==);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, .subtitle {
        margin: 0;
        background: rgba($color: #e6e6fa, $alpha: 0.6);
    }
    h1 {
        color: black;
        font-size: 5em;
        padding: .1em .25em;
        border-radius: .1em;
    }
    #cta {
        z-index: 1;
        .subtitle {
            padding: 0 1.25em .5em 1.25em;
            border-radius: 0 0 .5em .5em;
            word-break: break-all;
            display: inline-block;
            .detail {
                font-size: 1.25em;
            }
            .domain {
                font-size: 2.5em;
            }
        }
    }
    nav {
        display: inline-block;
    }
    .links {
        z-index: 1;

        display: inline-block;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
        }

        ul {
            display: inline-block;
            padding: 0;
            margin: 0;
            background: rgba($color: #000, $alpha: 0.7);
            padding: .5em;
            border-radius: .25em;
            li {
                padding-right: .25em;
                position: relative;
                &:last-child {
                    padding-right: 0;
                }
                img {
                    height: 3.125em;
                    width: 3.125em;
                    vertical-align: middle;
                }
                a:not([href]) img {
                    filter: grayscale(1);
                }
                &::before {
                    position: absolute;
                    box-sizing: border-box;
                    left: -40%;
                    width: 180%;
                    bottom: 120%;

                    content: attr(data-text);
                    font-family: $sansserif;
                    color: #fff;
                    background: rgba($color: #000, $alpha: 0.7);
                    padding: .2em .5em;
                    border-radius: .2em;

                    opacity: 0;
                    transition: opacity .3s;
                }
                &:hover::before {
                    opacity: 1;
                }
            }
        }
    }
    .spacer {
        &.top { flex-grow: 3; }
        &.middle { flex-grow: 1; }
        &.bottom { flex-grow: 3; }
    }
    .downchevron {
        width: 4em;
        height: 4em;
    }
}

section {
    background: #fff;
    text-align: center;
    margin: 1.2em 3em;
    border: .2em solid gray;
    border-radius: .4em;
    padding: 0 2em;

    h2 {
        font-size: 1.5em;
        margin: 1em 0;
    }
    .content {
        font-size: 1.2em;
        text-align: left;
        &.centered {
            text-align: center;
        }
    }
}

.rainbow {
    $outlineColor: #fff;
    $outlineSize: .025em;
    @if (true) {
        color: transparent;
        background: linear-gradient(to right, #df382b, #ff711f , #fabb06, #34a853, #4285f4, #9d41f9);
        -webkit-background-clip: text;
        background-clip: text;
        filter: drop-shadow(-$outlineSize (-$outlineSize) $outlineColor)
                drop-shadow(-$outlineSize 0 $outlineColor)
                drop-shadow(-$outlineSize $outlineSize $outlineColor)
                drop-shadow(0 $outlineSize $outlineColor)
                drop-shadow($outlineSize $outlineSize $outlineColor)
                drop-shadow($outlineSize 0 $outlineColor)
                drop-shadow($outlineSize (-$outlineSize) $outlineColor)
                drop-shadow(0 (-$outlineSize) $outlineColor);
    } @else {
        color: $outlineColor;
        -webkit-text-stroke: $outlineColor $outlineSize;
        text-stroke: $outlineColor $outlineSize;
        position: relative;
        &:after {
            background: none;
            content: attr(data-text);
            left: 0;
            top: 0;
            z-index: 2;
            position: absolute;
            color: transparent;
            background: linear-gradient(to right, #df382b, #ff711f , #fabb06, #34a853, #4285f4, #9d41f9);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

.domain {
    font-family: SourceCodePro, monospace;
    cursor: pointer;
    position: relative;
    &::after {
        position: absolute;
        left: 40%;
        width: 20%;
        top: 90%;

        content: "Copied!";
        font-family: $sansserif;
        font-size: .5em;
        color: #fff;
        background: rgba($color: #000, $alpha: 0.7);
        padding: .2em .5em;
        border-radius: .2em;

        opacity: 0;
        transition: opacity .3s;
    }
    &.copied::after {
        opacity: 1;
    }
}

#faq {
    li {
        margin-bottom: 1em;
    }
    .question, .answer {
        display: block;
        padding-left: 1.4em;
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: bold;
        }
    }
    .question::before {
        content: "Q: ";
    }
    .answer::before {
        content: "A: ";
    }
}

.playerhead {
    height: 1.5em;
    vertical-align: middle;
}


@media screen and (max-width: 660px) {
    header {
        font-size: 0.9em;
    }
    section {
        margin: .8em;
        padding: 0 1em;
    }
}
@media screen and (max-width: 490px) {
    header {
        h1 {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
